$lighter-gray: #fafafa;
$light-gray: #f4f4f4;
$gray: #e0e0e0;
$dark-gray: #7c7c7c;
$darker-gray: #636363;

$red: #c44512;
$form-red: #d40000;

$light-blue: #b7cae2;
$blue: #4b84da;
$dark-blue: #2668c1;

$navbar-height: 2.875rem;